<div ng-controller="settingsCtrl">

    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" ng-class="{active:tab===1}"><a href ng-click="tab = 1">Tables &amp; Referees</a></li>
        <li role="presentation" ng-class="{active:tab===2}"><a href ng-click="tab = 2">Rounds &amp; Stages</a></li>
        <li role="presentation" ng-class="{active:tab===3}"><a href ng-click="tab = 3">Challenge</a></li>
        <li role="presentation" ng-class="{active:tab===4}"><a href ng-click="tab = 4">Log</a></li>
    </ul>

    <div ng-show="tab === 1">
        <p>
            <label for="">Table</label>
            <input type="text" ng-model="settings.table">
        </p>
        <p>
            <input id="hideTotal" type="checkbox" ng-model="settings.hideTotal">
            <label for="hideTotal">Hide total score</label>
        </p>
        <p>
            <label for="teamSort">Sort teams by</label>
            <input id="teamSortNumber" type="radio" ng-model="settings.teamSort" value="number">Team number<br>
            <input id="teamSortName" type="radio" ng-model="settings.teamSort" value="name">Team name<br>
        </p>
    </div>
    <div ng-show="tab === 2">
        <h1>Stages</h1>
        <table class="table table-hover table-bordered table-striped table-teams smallLayoutHide mediumLayoutHide">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of rounds</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stage in allStages">
                    <td>{{stage.name}}</td>
                    <td>
                        <select ng-model="stage.rounds" ng-options="round.id as round.label for round in rounds" ng-change="stageChanged()">
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="tab === 3">
        <p>
            <label for="">Host</label>
            <input type="text" ng-model="settings.host" />
            shared host to get data from and save data to. E.g. 'http://www.example.com/'
        </p>
        <p>
            <label for="">Message bus</label>
            <input type="text" ng-model="settings.messageBus" />
            message bus endpoint for http POST
        </p>
        <p>
            <label for="">Challenge</label>
            <input type="text" ng-model="settings.challenge" />
            currently the filename containing missions! E.g. '2015_nl_NL' (no file extension)
        </p>
        <p>

        </p>
    </div>
    <div ng-show="tab === 4">
        <h1 >Log</h1>

        <pre>
            <code ng-repeat="line in log track by $index">{{line}}<br></code>
        </pre>
    </div>
    <button class="btn" ng-click="save()">
        <i class="icon-ok"></i>
        Save settings
    </button>
</div>
